<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>codemonkey-games</string>
	<key>CFBundleIdentifier</key>
	<string>com.codemonkey.games</string>
	<key>CFBundleName</key>
	<string>CodeMonkey Games</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>CodeMonkey URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>codemonkey</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
